h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: pink;
  text-decoration: underline;
}
h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: Pink;
  text-decoration: underline;
}
p1{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: pink;
  text-decoration: bold;
}
div{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: pink;
  text-decoration: bold;
  padding: 50px;
  width: 50%
}
div1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: pink;
  text-decoration: bold;
  padding: 50px;
  width: 50%
}
body{
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  Font-size: 2em;
  colour: black; 
}
.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}